<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Новый сотрудник</h1>
            <br>
            <form action="{{ url_for('barber_save', barber_id='new') }}" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="InputName">Имя:</label>
                    <input type="text" id="InputName" name="name" class="form-control" required>
                </p>
                <p>
                    <label for="InputLevel">Уровень:</label>
                    <input type="text" id="InputLevel" name="level" class="form-control" required>
                </p>
                <p>
                    <input type="file" accept="image/jpeg" id="ImageInput" name="img">
                    <div class="alert alert-secondary mt-2" role="alert">Размер изображения 368х160px</div>
                </p>
                <p>
                    <button class="btn btn-primary">Сохранить</button>
                    <a href="{{ url_for('manage') }}" class="btn btn-outline-primary">Назад</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>