<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Запись</h1>
            <br>
            <form action="{{ url_for('register', barber_id=barber.id) }}" method="POST">
                <div class="jumbotron">
                    <h3>{{ barber.name }}</h3>
                    <br>
                    <p>Стоимость стрижки: {{ barber.price }} руб</p>
                    <p>Уровень: {{ barber.level }}</p>
                    <p>
                        <label for="TimeInput">Выберите время посещения (запись доступна только на завтра):</label>
                        <select class="form-control" id="TimeInput" name="time">
                            {% for time in times %}
                            <option>{{ time }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="ClientName">Введите ваше имя:</label>
                        <input type="text" id="ClientName" class="form-control" name="name" required>
                    </p>
                    <p>
                        <label for="ClientPhone">Введите ваш номер телефона:</label>
                        <input type="text" id="ClientPhone" class="form-control" name="phone" required>
                    </p>
                </div>
                <button class="btn btn-info">Записаться</button>
                <a href="{{ url_for('index') }}" class="btn btn-outline-info">Назад</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>